@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body{
    color: white;
    margin: 0px;
    font-family: 'Playfair Display', serif;
    background-image: url("/images/bgimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    padding: 0.5rem;
    text-align: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.des{
    background: rgba(27, 27, 50, 0.8);
    width: 80%;
    margin: 1.5rem auto;
    border-radius: 1rem;
    padding: 0.5rem;
}

.llp{
    text-align: center; 
    font-size:30px;
    font-weight: bold;
}

p{
    
    text-align: center;
    font-size: 110%;
    margin: 0.5rem;
}


textarea{
    display: block;
    margin: auto;
    width: 40%;
    height: 20vh;
    padding: 1rem;
    border-radius: 1rem;
    border-color: black;
    border-width: 2px;
    font-style: italic;
    font-size:large;
    font-family: 'Roboto', sans-serif;
}

button{
    font-size: large;
    padding: 0.8rem 1.2rem;
    display: block;
    margin: 1rem auto;
    font-weight: bolder;
    border-radius: 0.5rem;
    cursor: pointer;
    background: black;
    color: #FFD700;
}

button:hover{
    transform: scale(1.1);
}

footer{
    background-color: black;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

ul{
    padding: 1em;
}

  
li {
    display: inline;
    padding: 0.5em;
    list-style: none;
}
  
i{
    color: white;
}